01 - AI Email Auto Reply with Gemini.json
{
  "name": "01 - AI Email Auto Reply with Gemini",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f114e39c-c6a2-4ee9-87c1-2368d46aee1d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b430d40-eadc-4302-977b-f97358dfad07",
              "name": "email",
              "value": "Hello,  I forgot my password. Can you help me reset it?  Thank you.",
              "type": "string"
            },
            {
              "id": "4f9daa2c-1b53-4383-a378-4d6acafea238",
              "name": "from",
              "value": "customer@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "65d36bac-2f6d-471a-9428-96a4f3e6a44a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional customer support assistant.\n\nRead the email below.\n\nWrite a polite and professional reply.\n\nEmail:\n\n{{ $json.email }}\n\nKeep the reply under 100 words.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "6abe5e57-2837-4750-a911-3df0fadea824",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "4f0ef255-9d83-491b-bddd-810656b6667d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tuCeGpnITXT7tA4l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "n8nnmb@gmail.com",
        "subject": "AI Email Auto Reply Test",
        "message": "={{$json.output}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "fd94631f-6121-4c06-96ed-fb57cdc8d289",
      "name": "Send a message",
      "webhookId": "e8a139b6-49e2-4507-aa29-81a4ac9b95d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "3t80rwOn9JNAUstX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a2f8db7-13f7-4dc3-ada1-ad3030d445f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d7270b772b779d18a23f1ea420944d6534b2c272491151a484e2495c3db7ee7"
  },
  "nodeGroups": [],
  "id": "8j6mNEq3RwsuKafL",
  "tags": []
}